.container{
    display: flex;
}


.card {
    width: 302px;
    height: 302px;
    border-radius: 8px;
    position: absolute;
    margin-top: 24px;
    margin-left: 24px;
    object-fit: cover;
    background-image: url(../../assets/image-equilibrium.jpg);
    background-size: contain;
    display: flex;
    z-index: 22;
}
.card::after{
    content: '';
}
.card:hover::after{
    background: url(../../assets/Eye.png) no-repeat;
    width: 49px;
    height: 42px;
    position: absolute;
    top: 44%;
    left: 42%;
    cursor: pointer;
    
}


.card:hover{
    background: url(../../assets/image-equilibrium.jpg) var(--cyan);
    background-size: cover;
    box-shadow: inset 0 0 0 200px rgba(0,255,249, 0.53);    
}


img{
    width: 100%;
    object-fit: cover;
    width: 302px;
    height: 302px;
}


/* text below the card */

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 200px;
    line-height: 26px;
    margin-left: 24px;
}

.heading {
    color: var(--White);
    font-size: 22px;
    font-family: var(--font);
    font-weight: 400;
    line-height: 27.72px;
    margin-top: 150px;
}
.heading:hover{
    cursor: pointer;;
    color: var(--cyan);
    transition: all 0.6s ease-in-out;
}

.paragraph {
    font-size: 18px;
    font-weight: 300;
    font-family: var(--font);
    color: var(--soft-blue);
    width: 302px;
    margin-top: 16px;
}